html {
padding-right: 145px;
padding-left: 145px;
}

@page {
    margin-left: 5cm;
    margin-right: 5cm;
 }

#upload {
    border: 5px;
    border-radius: 12%;
}
#title{
    color:rgb(236, 236, 236);
    font-size: 100pt;
    font-family: "Edwardian Script ITC";
}

#select{
    font-size: 45px;
    font-family: "Poor Richard";
    color: cadetblue;
}
#fileToUpload{
    position: relative;
    right: 55px;
    padding:30px 67px;
    font-size: 20px;
    background-color:#ffce85;
    color: black;
    font-family: "Poor Richard";
    box-shadow: 3px 5px #8f5d00;
    opacity: 0;
}


.btn-lg{
    position: relative;
    padding:30px 80px;
    font-size:70px;
    border-radius: 50px;
    background-color:#93dff7;
    color: rgb(0, 0, 0);
    font-family: "Poor Richard";
    box-shadow: 5px 10px #349ab9;

}

.btn-lg:hover,.btn-lg:active{
    font-weight: bold;
    padding:30px 77px;
}

.btn-lg:active{
    position:relative;
    top:5px;
    left:2px;
    background-color:#70d2f0;
    box-shadow: 3px 5px #349ab9;
    opacity:100%;
}
.row {
    padding: 0px;
    
}

.button {
    justify-content: center;
}   

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("https://i.gifer.com/2vCZ.gif");
    background-repeat: no-repeat;
    background-position: top left;
    opacity: 0.97;
    background-size: 100%;
}
form{
    position: absolute;
    top: 110%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 100px;
    border: 4px dashed #fff;
  }
form input[type=file]{
    position: relative;
    top: -4px;
    left: -60px;
    width: 500px;
    height: 95px;
    outline: none;
    cursor: pointer;
    opacity: 0;

}
form input[type=file]:active{
    position: relative;
    top: -4px;
    left: -60px;
    width: 500px;
    height: 95px;
    outline: none;
    opacity: 1;

}
form input[type=submit]{
    position: relative;
    top: 5px;
    left: 14px;
    padding: 4px 30px;
    border-color: white;
    border-radius: 10px;
    background-color:#ffce85;
    box-shadow: -3px -2px inset #fcc471;
}
form input[type=submit]:hover{
    padding: 4px 28px;
    font-weight: bold;
    background-color: #fdc673;
}


  
  
  