
@page {
    margin-left: 5cm;
    margin-right: 5cm;
 }


#title{
    color:rgb(236, 236, 236);
    font-size: 100pt;
    font-family: "Edwardian Script ITC";
}





.myButton{
    padding:2% 4%;
    border-radius: 30px;
    background-color:#93dff7;
    width:20%;
    font-size: 200%;
    font-family: "Poor Richard";
    box-shadow: 5px 10px #349ab9;
    margin-left: 6.5%;
    margin-right: 6.5%;
    justify-content: center;
}


.row {
    padding: 0px;

}

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("https://i.gifer.com/2vCZ.gif");
    background-repeat: no-repeat;
    background-position: top left;
    opacity: 0.97;
    background-size: 100%;
}

#dashBorder{
    width: 500px;
    height: 100px;
    position: relative;
    margin:auto;
    top: 50%;
    border:5px dashed #fff;
}

#fileToUpload{
    font-size:0px;
    width: 500px;
    height: 100px;
    position:relative;
    top:-5px;
    left:-5px;
    /* top and left movements are for positioning with border*/
    cursor: pointer;
    opacity: 0.0;
}

#select{
    position:relative;
    top:-95%;
    text-align: center;
    font-size:45px;
    font-family:"Poor Richard";
    color: cadetblue;
    z-index:-1;
}

form input[type=submit]{
    position: relative;
    top: 5px;
    left: 14px;
    padding: 4px 30px;
    border-color: white;
    border-radius: 10px;
    background-color:#ffce85;
    box-shadow: -3px -2px inset #fcc471;
}

#buttonrow{
    padding-top: 5%;
    width:100%;
    display:inline-block;
    position: relative;
}

